.hero {
  padding: 130px 10px 40px;
  transition: padding 0.3s ease;
}

.title {
  text-transform: uppercase;
  color: #252525;
  width: 100%;
  font-size: clamp(28px, 4vw, 62px);
  font-weight: 900;
  line-height: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 5vw;
    line-height: 1;
  }

  .hero {
    padding: 120px 10px 25px;
  }
}

