.section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
  padding: 160px 10px 0;
  align-items: start;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 0;
  width: 100%;
}

.preheading {
  font-size: clamp(26px, 3.1vw, 48px);
  font-weight: 700;
  line-height: 1;
  color: #252525;
  font-style: italic;
  text-transform: uppercase;
}

.title {
  font-size: clamp(24px, 2.1vw, 40px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  color: #252525;
}

.descriptionsRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}

.body {
  font-size: clamp(16px, 1.3vw, 24px);
  font-weight: 500;
  line-height: 1.2;
  color: #252525;
  margin: 0;
}

@media (max-width: 1024px) {
  .section {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .descriptionsRow {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 25px 10px;
    gap: 24px;
  }

  .preheading,
  .title {
    font-size: 4.3vw;
    line-height: 1;
  }

  .body {
    font-size: 3.8vw;
    line-height: 1;
  }
}

